


            <div class="grid_4" style="width: 260px;margin-left: 50px">
				<div class="block-border">
					<div class="block-header">
						<h1>Delet Employee Inforamtion</h1><span></span>
                        <br/>
                        <a href=@Href("~/ViewEmployees.cshtml")>
							<img src=@Href("~/img/Info/DelEmp.png") style="width:100px;height: 100px;margin-left: 70px;"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href=@Href("~/ViewEmployees.cshtml")><b>Continue</b></a></div>
						</a>
					</div>
				
				</div>
			</div>

			<div class="grid_4" style="width: 260px">
				<div class="block-border">
					<div class="block-header">
						<h1>Delete Project Information</h1><span></span>
                        <br/>
                        <a href=@Href("~/ViewProjects.cshtml")>
							<img src=@Href("~/img/Info/DelProj.png") style="width:100px;height: 100px;margin-left: 70px;"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href=@Href("~/ViewProjects.cshtml")><b>Continue</b></a></div>
						</a>
					</div>
					
				</div>
			</div>
			<br/>
			<div class="grid_4" style="width: 260px;">
				<div class="block-border">
					<div class="block-header">
						<h1>Delete Client Information</h1><span></span>
                        <br/>
                        <a href=@Href("~/ViewClients.cshtml")>
							<img src=@Href("~/img/Info/DelCli.jpg") style="width:100px;height: 100px;margin-left: 70px;"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href=@Href("~/ViewClients.cshtml")><b>Continue</b></a></div>
						</a>
					</div>
					
				</div>
			</div>

            <div class="grid_4" style="width: 280px;">
				<div class="block-border">
					<div class="block-header">
						<h1>Delete Supplier Information</h1><span></span>
                        <br/>
                        <a href=@Href("~/ViewSupplier.cshtml")>
							<img src=@Href("~/img/Info/DelSup.jpg") style="width:100px;height: 100px;margin-left: 70px;"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href=@Href("~/ViewSupplier.cshtml")><b>Continue</b></a></div>
						</a>
					</div>
					
				</div>
			</div>