
<div class="grid_4" style="margin-left: 290px;width: 520px">
				<div class="block-border">
					<div class="block-header">
						<h1>Search Location</h1><span></span>
					</div>
					<form id="validate-form" class="block-content form" action="ReceiverInfo.cshtml" method="post">
						<p class="inline-mini-label">
							<img src="img/container/main/map.jpg" alt="no image found"> 
						</p>

                                             
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">							
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Send"></li>
							</ul>                            
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>