
<div class="grid_4" style="margin-left: 290px;width: 520px">
				<div class="block-border">
					<div class="block-header">
						<h1>Receiver Details</h1><span></span>
					</div>
					<form id="validate-form_RI" class="block-content form" action="#" method="post">
						<p class="inline-mini-label">
							<label for="title">Device ID</label>
							<input type="text" name="title" class="required">
						</p>

                        <p class="inline-mini-label">
							<label for="title">Name</label>
							<input type="text" name="title" class="required">
						</p>                      
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
							<ul class="actions-left">
								<li><a class="button red" id="reset-validate-form" href="javascript:void(0);">Cancel</a></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Send"></li>
							</ul>
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>
