
<div class="grid_4" style="width: 270px;margin-left: 50px">
				<div class="block-border">
					<div class="block-header">
						<h1>Search Supplier</h1><span></span>
					</div>
					<form id="validate-form1"  class="block-content form" action="SupplierSearchResults.cshtml" method="post">
						<p class="inline-mini-label">
							<label for="title">Name</label>
							<input type="text" name="Name" class="required">
						</p>                       
						<p class="inline-mini-label">
							<label for="title">Type</label>
							<input type="text" name="Type" class="required">
						</p>
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
							<ul class="actions-left">
								<li><a class="button red" id="reset-validate-form" href="">Cancel</a></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Search"></li>
							</ul>
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>
            <div class="grid_4" style="width: 270px;margin-left: 50px">
				<div class="block-border">
					<div class="block-header">
						<h1>Search Employee</h1><span></span>
					</div>
					<form id="validate-form2"   class="block-content form" action="EmployeeSearchResults.cshtml" method="post">
						<p class="inline-mini-label">
							<label for="title">Name</label>
							<input type="text" name="name" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title">ID</label>
							<input type="text" name="id" class="required">
						</p>						
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
							<ul class="actions-left">
								<li><a class="button red" id="reset-validate-form" href="javascript:void(0);">Cancel</a></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Search"></li>
							</ul>
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>

               <div class="grid_4" style="width: 270px;margin-left: 50px">
				<div class="block-border">
					<div class="block-header">
						<h1>Search Client</h1><span></span>
					</div>
					<form id="validate-form3" class="block-content form" action="ClientSearchResults.cshtml" method="post">
						<p class="inline-mini-label">
							<label for="title">Name</label>
							<input type="text" name="name" class="required">
						</p>                       
						<p class="inline-mini-label">
							<label for="title">Project</label>
							<input type="text" name="ProjectName" class="required">
						</p>
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
							<ul class="actions-left">
								<li><a class="button red" id="reset-validate-form" href="javascript:void(0);">Cancel</a></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Search"></li>
							</ul>
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>

            