		
	<div class="grid_4" style="margin-left: 290px;width: 520px">
				<div class="block-border">
					<div class="block-header">
						<h1>Search Location</h1><span></span>
					</div>
					<form id="validate-form_SL" class="block-content form" action="Map.cshtml" method="post">
						<p class="inline-mini-label">
							<label for="title">Location</label>
							<input type="text" name="title" class="required">
						</p>

                                             
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">							
                            <a href="@Href("~/Home/ReceiverDetails")">
							<ul class="actions-right">
								<li><input type="button" class="button" value="Track Location" style="height: 26px"></li>
							</ul>
                            </a>
                            
                            <ul class="actions-slocation">
								<li><input type="submit" class="button" value="Search Location"></li>
							</ul>
                            
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>