
<div class="grid_12">
				<h1>External Huamn Resource Information</h1>
				<p>This is the table showing Supplier's Details </p>
			</div>
			
			<div class="grid_12">
				<div class="block-border">
					<div class="block-header">
						<h1>Supplier Information</h1><span></span>
					</div>
					<div class="block-content">
						<table id="table-example" class="table">
							<thead>
								<tr>
									<th>Select</th>
                                    <th>Name</th>									
									<th>Company</th>
									<th>NIC</th>
									<th>Contact No</th>
                                    <th>Address</th>                                    
                                    <th>Type</th>
                                    <th>Joining Date</th>
								</tr>
							</thead>
							<tbody>
								<tr class="gradeX">
                                    <td><div class="_50"><input type="checkbox" name="checkbox" /></div></td>
									<td>Trident</td>
									<td>Internet Explorer 4.0</td>
									<td>Win 95+</td>
									<td class="center">4</td>
									<td class="center">X</td>
                                    <td class="center">X</td>
                                    <td class="center">Date</td>
								</tr>
								<tr class="gradeC">
                                    <td><div class="_50"><input type="checkbox" name="checkbox" /></div></td>
									<td>Trident</td>
									<td>Internet Explorer 5.0</td>
									<td>Win 95+</td>
									<td class="center">5</td>
									<td class="center">C</td>
                                    <td class="center">X</td>
                                    <td class="center">Date</td>
								</tr>
								<tr class="gradeA">
                                    <td><div class="_50"><input type="checkbox" name="checkbox" /></div></td>
									<td>Trident</td>
									<td>Internet Explorer 5.5</td>
									<td>Win 95+</td>
									<td class="center">5.5</td>
									<td class="center">A</td>
                                    <td class="center">X</td>
                                    <td class="center">Date</td>
								</tr>
								<tr class="gradeA">
                                    <td><div class="_50"><input type="checkbox" name="checkbox" /></div></td>
									<td>Trident</td>
									<td>Internet Explorer 5.5</td>
									<td>Win 95+</td>
									<td class="center">5.5</td>
									<td class="center">A</td>
                                    <td class="center">X</td>
                                    <td class="center">Date</td>
								</tr>                              
							</tbody>
						</table>
					</div>
				</div>
               <a href="@Href("~/ReceiverInfo.cshtml")"> <div><input type="submit" value="Send" style="height: 30px"></div></a>
			</div>