
@model ETMS.Models.Project
<div class="grid_4" style="width: 605px;margin-left: 90px">
				<div class="block-border">
					<div class="block-header">
						<h1>Add Project Information</h1><span></span>
					</div>
					<form id="validate-form" class="block-content form" action="" method="post">
						<p class="inline-mini-label">
							<label for="title" >Name</label>
                            <input type="text" name="PName" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title">Start Date</label>
                            <input type="text" name="PStartDate" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >End Date</label>
                            <input type="text" name="PEndDate" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >Team Lead</label>
                            <input type="text" name="PTeamLead" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="category">Category</label>
							<select name="PCategory" id="category">
								<option>Web Development</option>
								<option>Android</option>
								<option>Iphone</option>
                                <option>Management System</option>
							</select>
						</p>
                        
						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
							<ul class="actions-left">
								<li><a class="button red" id="reset-validate-form" href="@Href("~/Home/DashBoard")">Cancel</a></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Save" style="width:65px"></li>
							</ul>
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>

			<div class="grid_4" style="width: 420px">
				<div class="block-border">
					<div class="block-header">
						<h1>Overview-List</h1><span></span>
					</div>
					<div class="block-content">
						<div class="alert info no-margin top">You have add 12 new projects in this month.</div>
						<ul class="overview-list">
							<li><a href="javascript:void(0);"><span>8262</span> Total Projects</a></li>
							<li><a href="javascript:void(0);"><span>21</span> Today Added Projects</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			
		